[Unit]
Description=DNF UI transaction service

[Service]
Type=dbus
BusName=com.fedora.Dnfui.Transaction1
ExecStart=/usr/libexec/dnfui-service --system
User=root
Restart=on-failure
RestartSec=1
