label.status-bar {
  padding: 4px;
  border-radius: 4px;
}

.bottom-bar {
  padding: 5px;
  border-top: 1px solid #666;
}

.installed {
  background-color: #b3f0b3;
  /* softer green */
  color: black;
  padding: 2px 4px;
  border-radius: 2px;
}
